.heading {
  color: #424242 !important;
  caret-color: #424242 !important;
  font-weight: 400;
  font-size: 3rem !important;
  line-height: 3.125rem;
  letter-spacing: normal !important;
  text-transform: capitalize !important;
  font-family: "Roboto", sans-serif !important;
}
